/* ===== Feeds Home ======== */

.Feedpagediv{

}

.checked{
color: rgb(16, 16, 101);
cursor: pointer;

}
.unchecked{
color: rgb(223, 218, 218);
cursor: pointer;
}

.removefeedbtn{
cursor: pointer;

}



