@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

body,html,:root{
  width: 100%;
  height: 100%;
  text-align: center;
font-family: 'Source Sans Pro';
}

